.navbar {
  background-color: #C3C3C3;
  /*background-color: #6A00E4*/
}

h3 {
  color: #6A00E4;
  /*color: white;*/
  font-size: 2.5rem;
  font-family: 'Young Serif', serif;
}

.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.nav-item-last {
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100px;
  height: 50px;
  color: white;
  font-size: 1.5rem;
  font-family: 'Young Serif', serif;
}

.nav-item {
  border-right: black 0.5px solid;
  padding-left: 5px;
  height: 50px;
  color: white;
  font-size: 1.5rem;
  font-family: 'Young Serif', serif;
}

/*.nav-link {*/
/*  color: lightgrey;*/
/*}*/
