.welcome-message h2 {
  text-align: center;
  padding-bottom: 10px;
}

.home-content {
  padding-left: 150px;
  padding-right: 150px;
}

/*.register {*/
/*  padding-left: 300px;*/
/*  padding-right: 200px;*/
/*}*/
