<!--<div class="weatherforecast-recent-results">-->

<!--  <div *ngIf="showSpinner" class="d-flex justify-content-center">-->
<!--    <div class="spinner-border" role="status">-->
<!--      <span class="sr-only">Loading...</span>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="result-title">-->
<!--    <h4 *ngIf="searchSuccessful">Results:</h4>-->
<!--  </div>-->

<!--  <div *ngIf="searchSuccessful" class="results">-->

<!--    <div class="result-weatherforecast result">-->

<!--      <div class="test-box">-->
<!--        <div class="flag">-->
<!--          <img [src]="flagImage">-->
<!--        </div>-->

<!--        <div class="testborder">-->

<!--        </div>-->

<!--        <div class="country-place">-->
<!--          <h4>Current weather condition for:</h4>-->

<!--          <h5>{{ countryAndPlace.country.toLocaleUpperCase() }}</h5>-->
<!--          <h5>{{ countryAndPlace.place.toLocaleUpperCase() }}</h5>-->
<!--        </div>-->
<!--      </div>-->


<!--      <div class="weatherforecast-results">-->

<!--        <div class="weathercondition">-->
<!--          <h4>Main</h4>-->
<!--          <h4>{{ weatherCondition.main }}</h4>-->
<!--          <h4>Description</h4>-->
<!--          <h4>{{ weatherCondition.description }}</h4>-->
<!--        </div>-->

<!--        <div class="temperatures-details">-->
<!--          <h5>Temp: {{ weatherCondition.temp }}</h5>-->
<!--          <h5>Feels Like: {{ weatherCondition.feels_like }}</h5>-->
<!--          <h5>Min Temp: {{ weatherCondition.temp_min }}</h5>-->
<!--          <h5>Max Temp: {{ weatherCondition.temp_max }}</h5>-->
<!--          <h5>Humidity: {{ weatherCondition.humidity }}</h5>-->
<!--          <h5>Pressure: {{ weatherCondition.pressure }}</h5>-->
<!--        </div>-->

<!--      </div>-->

<!--    </div>-->

<!--  </div>-->


<!--</div>-->


<div class="weatherforecast-recent-results">

  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="result-title">
    <h4>Results:</h4>
  </div>

  <div class="results">

    <div class="result-weatherforecast result">

      <div class="test-box">
        <div class="flag">
        </div>

        <div class="testborder">

        </div>

        <div class="country-place">
          <h4>Current weather condition for:</h4>

          <h5>t</h5>
          <h5> t </h5>
        </div>
      </div>


      <div class="weatherforecast-results">

        <div class="weathercondition">
          <h4>Main</h4>
          <h4>t</h4>
          <h4>Description</h4>
          <h4>t</h4>
        </div>

        <div class="temperatures-details">
          <h5>Temp: t</h5>
          <h5>Feels Like: t</h5>
          <h5>Min Temp: t</h5>
          <h5>Max Temp: t</h5>
          <h5>Humidity: t</h5>
          <h5>Pressure: t</h5>
        </div>

      </div>

    </div>

  </div>


</div>

